doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1,  maximum-scale=1, user-scalable=0")

    // CSS
    //link(rel='stylesheet', href='../components/Bootflat/css/bootstrap.min.css')
    
    // JS    
    script(type='text/javascript', src='js/lib/cryptojslib/rollups/pbkdf2.js')
    script(type='text/javascript', src='js/lib/jquery/dist/jquery.min.js')    
   
    body

    script(type='text/javascript', src='js/bundle.js')